<H3 class="title">
    SỐ LIỆU QUAN TRẮC NĂM {{year}} ĐỢT {{ith}}
</H3>
<H4>
    <a [routerLink]="" (click)="gotodetail('AQI')">Chỉ số AQI môi trường không khí tháng {{ith}}/{{year}}</a>
</H4>
<ul>
    <!-- <li><a [class.active]="selfurl!='/gioi-thieu'" (click)="gotodetail('NO2')">TRANG CHỦ</a></li> -->
    <li> <a [routerLink]="" (click)="gotodetail('NO2')">Chỉ tiêu NO2 trong không khí tháng {{ith}}/{{year}}</a> </li>
    <li> <a [routerLink]="" (click)="gotodetail('O3')">Chỉ tiêu O3 trong không khí tháng {{ith}}/{{year}}</a> </li>
    <li> <a [routerLink]="" (click)="gotodetail('PM10')">Chỉ tiêu bụi PM10 trong không khí tháng {{ith}}/{{year}}</a> </li>
    <li> <a [routerLink]="" (click)="gotodetail('SO2')">Chỉ tiêu SO2 trong không khí tháng {{ith}}/{{year}}</a> </li>
    <li> <a [routerLink]="" (click)="gotodetail('TSP')">Chỉ tiêu bụi TSP trong không khí tháng {{ith}}/{{year}}</a> </li>
</ul>
<H4>
    <a [routerLink]="" (click)="gotodetail('WQI')">Chỉ số WQI môi trường không khí tháng {{ith}}/{{year}}</a>
</H4>
<!-- <ul>
    <li> <a [routerLink]="" (click)="gotodetail('DO')">Chỉ tiêu DO trong nước tháng {{ith}}/{{year}}</a> </li>
    <li> <a [routerLink]="" (click)="gotodetail('COD')">Chỉ tiêu COD trong nước tháng {{ith}}/{{year}}</a> </li>
    <li> <a [routerLink]="" (click)="gotodetail('NH4')">Chỉ tiêu NH4+ trong nước tháng {{ith}}/{{year}}</a> </li>
    <li> <a [routerLink]="" (click)="gotodetail('PO43')">Chỉ tiêu PO43- trong nước tháng {{ith}}/{{year}}</a> </li>
    <li> <a [routerLink]="" (click)="gotodetail('TSS')">Chỉ tiêu TSS trong nước tháng {{ith}}/{{year}}</a> </li>
    <li> <a [routerLink]="" (click)="gotodetail('Coliforms')">Chỉ tiêu Coliforms trong nước tháng {{ith}}/{{year}}</a> </li>
    <li> <a [routerLink]="" (click)="gotodetail('pH')">Chỉ tiêu pH trong nước tháng {{ith}}/{{year}}</a> </li>
</ul> -->