.w600center {
    margin: auto;
    width: 960px;
}

#topdiv {
    position: relative;
    /* background-color: rgb(156, 156, 156); */
    height: 100px;
}

#topdiv>.mainlogo {
    /* width: 600px; */
    height: 68px;
    margin-top: 16px;
}

#topdiv>.right {
    position: absolute;
    right: 0px;
    top:16px;
    width: 260px;
    /* border: 3px solid #73AD21; */
}

#topdiv>.right>input {
    width: 100%;
    font-size: 12pt;
}

#mynav {
    background-color: rgb(19, 180, 255);
    /* height: 50px; */
    width: 100%;
}

.navbtn {
    width: 120px;
    height: 50px;
    /* padding: 10px 0; */
    line-height: 50px;
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
    color: white;
    display: inline-block;
    /* background-color: rgb(149, 191, 127); */
}
.navbtn_active {
    background-color: rgb(149, 191, 127);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(149, 191, 127);
}

#moutlet {
    /* background-color: rgb(19, 180, 255); */
    /* height: 50px; */
    /* width: 100%; */
}