<div id="topdiv" class="w600center">
    <img class="mainlogo" src="assets/img/logo3.png">
    <div class="right">
        <input type="search" placeholder="Tìm kiếm"><br>
        <span>{{datenow}}</span>
    </div>
</div>
<div id="mynav">
    <div class="w600center">
        <!-- <div class="inline">
            <nav class="navbtn" [class.navbtn_active]="1">
                <a routerLink="/" routerLinkActive="active">TRANG CHỦ</a>
            </nav>
            <div class="navbtn" [class.navbtn_active]="0">
                <a routerLink="/gioi-thieu" routerLinkActive="active">GIỚI THIỆU</a>
            </div>
        </div> -->

        <ul>
            <li><a [class.active]="selfurl!='/gioi-thieu'" routerLink="/" routerLinkActive="active">TRANG CHỦ</a></li>
            <li><a [class.active]="selfurl=='/gioi-thieu'" routerLink="/gioi-thieu" routerLinkActive="active">GIỚI THIỆU</a></li>
        </ul>

    </div>
</div>

<div id="moutlet" class="w600center">
    <router-outlet></router-outlet>
</div>