<h3 class="title"> CÔNG BỐ DỮ LIỆU QUAN TRẮC NĂM 2018 </h3>

<div class="grid-container">
    <div class="grid-item"><button (click)="goto(1)">ĐỢT 1</button></div>
    <div class="grid-item"><button (click)="goto(2)">ĐỢT 2</button></div>
    <div class="grid-item"><button (click)="goto(3)">ĐỢT 3</button></div>
    <div class="grid-item"><button (click)="goto(4)">ĐỢT 4</button></div>
    <div class="grid-item"><button (click)="goto(5)">ĐỢT 5</button></div>
    <div class="grid-item"><button (click)="goto(6)">ĐỢT 6</button></div>
    <div class="grid-item"><button (click)="goto(7)">ĐỢT 7</button></div>
    <div class="grid-item"><button (click)="goto(8)">ĐỢT 8</button></div>
    <div class="grid-item"><button (click)="goto(9)">ĐỢT 9</button></div>
    <div class="grid-item"><button (click)="goto(10)">ĐỢT 10</button></div>
    <div class="grid-item"><button (click)="goto(11)">ĐỢT 11</button></div>
    <div class="grid-item"><button (click)="goto(12)">ĐỢT 12</button></div>
</div>

<br>
<br>

<a href="" (click)="showAlert()">* Kết quả quan trắc 2018</a>