<p *ngIf="err!=''">
    {{err}}
</p>

<div *ngIf="err==''">
    <H3 class="title">{{title}}</H3>
    <a href="{{img1}}"><img class="img1" src="{{img1}}"></a>
    <a href="{{img3}}" *ngIf="img3!=''"><img class="img3" src="{{img3}}"> </a>
    <!-- <a [routerLink]="" (click)="viewfullscreen1()">Xem toàn màn hình</a> -->
    <a *ngIf="img2!=''" [routerLink]="" (click)="showimg2=!showimg2">Xem chú giải</a>

    <a href="{{img2}}" *ngIf="showimg2 && img2!=''"><img class="img2" src="{{img2}}"></a>
</div>