.title {
    text-align: center;
}

.img1 {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 800; */
}
.img2 {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 800; */
}
.img3 {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 800; */
}

a {
    padding: 0px 5px;
}